*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10vh;
    background-color: rgb(46,58,70);
}
      
img{
    margin-left: 20px;
    height: 100%;
}